<app-user-header></app-user-header>
<div class="container-fluid">

  <div class="row d-flex bg justify-content-center">
    <div class="col-lg-8 col-12 mt-lg-4 loginForm">
      <div class="row" style="padding: 10%;">
        <div class="col-lg-12 col-12 mt-3">
          <h6 class="txtghead">Welcome Now</h6>
          <h6 class="txtgreyhead">
            Register here to Continue your application & get listed on eSocietyBazaar
          </h6>
          <form  [formGroup]="registerForm" (ngSubmit)="register()" >
            <div class="form-group">
              <label class="fontsizesm txtgrey" for="email">Email Address</label>
              <input type="email" class="form-control txtb inputbg" formControlName="email" id="email"
                placeholder="Enter email">
            </div>
            <div class="form-group">
              <label class="fontsizesm txtgrey">First Name</label>
              <input type="text" class="form-control txtb inputbg" formControlName="firstname"
                placeholder="Enter First Name">
            </div>
            <div class="form-group">
              <label class="fontsizesm txtgrey">Second Name</label>
              <input type="text" class="form-control txtb inputbg" formControlName="secondname"
                placeholder="Enter Second Name">
            </div>

            <div class="form-group">
              <label class="fontsizesm txtgrey">Location</label>
              <input type="text" class="form-control txtb inputbg" placeholder="Enter Location"
                formControlName="location">
            </div>

            <div class="form-group">
              <label class="fontsizesm txtgrey">Type</label>
              <select class="form-control " formControlName="type" >
                <option value="0">Society</option>
                <option value="1">Corporate</option>
              </select>
            </div>

            <div class="form-group">
              <label class="fontsizesm txtgrey">Password</label>
              <input type="password" class="form-control txtb inputbg" placeholder="Enter password"
                formControlName="password">
            </div>
            <div class="form-group">
              <label class="fontsizesm txtgrey">Confirm Password</label>
              <input type="password" class="form-control txtb inputbg" placeholder="Confirm password"
                formControlName="confirmPassword">
            </div>

            <div class="row d-flex justify-content-center">

              <div class="form-group" style="cursor: pointer;">
                <button class="fontsizesm txtg btn" type="submit" >Register Now</button>
              </div>
            </div>
            <!-- <div class="form-group" routerLink="/user/userregister">
                            <label class="fontsizesm txtg">
                                  Click here to Register now !
                            </label>
                          </div>   -->
          </form>
        </div>
      </div>
    </div>
  </div>
</div>





<app-faqaccordian></app-faqaccordian>
<app-latestnews></app-latestnews>
<app-becomepartner></app-becomepartner>
<app-quicklinks></app-quicklinks>