<app-user-header></app-user-header>




<div class="container-fluid">

    <div class="row d-flex bg justify-content-center">
        <div class="col-lg-8 col-12 mt-lg-4 loginForm">
            <div class="row" style="padding: 10%;">

                <div class="col-lg-5 col-12">
                    <img src="../../../assets/Screenshot (40).png" width="100%" height="250px" />
                </div>
                <div class="col-lg-6 col-12 mt-3">
                    <h6 class="txtghead">Welcome Back</h6>
                    <h6 class="txtgreyhead">
                        Continue your application & get listed on eSocietyBazaar
                    </h6>
                    <form [formGroup]="loginForm" (ngSubmit)="login()">
                        <div class="form-group">
                            <label class="fontsizesm txtgrey " for="email">Email Address</label>
                            <input type="email" formControlName="email" class="form-control txtb inputbg" id="email"
                                placeholder="Enter email" autofocus>
                        </div>
                        <div class="form-group">
                            <label class="fontsizesm txtgrey " for="Password">Password</label>
                            <input type="password" formControlName="password" class="form-control txtb inputbg"
                                id="Password" placeholder="Enter Password">
                        </div>
                        <div class="form-group">
                            <label class="fontsizesm txtgrey">Type</label>
                            <select class="form-control " formControlName="type">
                                <option>Choose to Select</option>
                                <option value="0">Society</option>
                                <option value="1">Corporate</option>
                            </select>
                        </div>
                        <div class="form-group" style="cursor: pointer;">
                            <label class="fontsizesm txtg" style="cursor: pointer;">
                                Change Password
                            </label>
                        </div>
                        <div class="row d-flex justify-content-center">

                            <div class="form-group" style="cursor: pointer;">
                                <button class="fontsizesm txtg btn" type="submit">Login</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4 d-flex justify-content-center" style="margin: unset;">
        <div class="col-lg-8 col-12">
            <div class="row" style="margin: unset !important;">

                <div class="col-lg-3 col-12 mt-1 txtgrey fontsizesm text-center" style="cursor: pointer;"
                    [class.txtg]="show==1" (click)="showPage(1)">Application Criteria</div>
                <div class="col-lg-2 col-12 mt-1 txtgrey fontsizesm text-center" style="cursor: pointer;"
                    [class.txtg]="show==2" (click)="showPage(2)">Organization Detail</div>
                <div class="col-lg-3 col-12 mt-1 txtgrey fontsizesm text-center" style="cursor: pointer;"
                    [class.txtg]="show==3" (click)="showPage(3)">Web & Social Media</div>
                <div class="col-lg-2 col-12 mt-1 txtgrey fontsizesm text-center" style="cursor: pointer;"
                    [class.txtg]="show==4" (click)="showPage(4)">Contact Info</div>
                <div class="col-lg-2 col-12 mt-1 txtgrey fontsizesm text-center" style="cursor: pointer;"
                    [class.txtg]="show==5" (click)="showPage(5)">Confirm Account</div>
            </div>
        </div>
    </div>
</div>



<app-userapplicationcriteria *ngIf="show==1"></app-userapplicationcriteria>
<app-usercompanyprofile *ngIf="show==2"></app-usercompanyprofile>
<app-userwebandsocialmedia *ngIf="show==3"></app-userwebandsocialmedia>
<app-usercontactinfo *ngIf="show==4"></app-usercontactinfo>
<app-userconfirmaccount *ngIf="show==5"></app-userconfirmaccount>


<app-faqaccordian></app-faqaccordian>


<app-latestnews></app-latestnews>
<app-becomepartner></app-becomepartner>
<app-quicklinks></app-quicklinks>



<app-userfooter></app-userfooter>